@media (max-width: 1200px) {
  .window-layer {
    --window-padding: 100px;
    width: calc(100% - var(--window-padding)) !important;
    height: calc(100vh - var(--window-padding)) !important;
  }
}

@media (max-width: 900px) {
  .window-layer {
    --window-padding: 0px;
    width: calc(100% - var(--window-padding)) !important;
    height: calc(100vh - var(--window-padding)) !important;
  }
}

@media (max-width: 650px) {
  .markdown-body {
    padding: 30px !important;
  }
}
