@import url("fonts.css");
@import url("responsive.css");

:root {
  --accent: rgb(40, 39, 37);
  --border: 4px solid var(--accent);

  --primary-color: #282725;
  --box-shadow: 7px 7px rgba(0, 0, 0, 0.35);
}

body {
  background-color: var(--accent);
  padding: 20px;
  height: 100vh;
}

.wrapper {
  --back: #808080d8;
  --fore: white;
  --window-padding: 30px;
  width: calc(100% - var(--window-padding));
  height: calc(100vh - var(--window-padding));
  border-radius: 25px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.527);
  background-image: linear-gradient(45deg, var(--back) 25%, transparent 25%),
    linear-gradient(-45deg, var(--back) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--back) 75%),
    linear-gradient(-45deg, transparent 75%, var(--back) 75%);
  background-size: 5px 5px;
  background-position: 0 0, 10px 0, 10px -10px, 0px 10px;
  position: relative;
  height: 100%;
  width: 100%;
}

.window-layer {
  width: 1100px;
  height: 80vh;
  background-color: white;
  border: var(--border);
  box-shadow: 20px 20px rgb(0 0 0 / 48%);
  pointer-events: all;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.window-menu-bar {
  width: 100%;
  border-bottom: var(--border);
  position: absolute;
  width: 100%;
  background-color: white;
  height: 50px;
  border-radius: 20px 20px 00px 0px;
}

.window-content {
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

.thin-strip-box {
  padding: 5px 0;
  margin: 0px 10px;
  width: 100%;
}

.thin-strip {
  height: 3px;
  background-color: var(--accent);
  width: 100%;
  margin: 3px 0;
}

.window-close {
  position: absolute;
  height: 30px;
  right: 40px;
  outline: 3px white solid;
  background-color: white;
  empty-cells: 0;
  cursor: pointer;
  padding: 0 10px;
}

.close-text-icon {
  display: none;
  cursor: pointer;
}

.window-close:hover .close-text-icon {
  display: block;
}

.window-title {
  position: absolute;
  left: 40px;
  outline: 3px white solid;
  background-color: white;
  padding: 0 10px;
  border-radius: 10px;
}

.window-title h1 {
  font-size: 25px;
  font-weight: 300;
  color: var(--accent);
}

.window-content {
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

.window-content iframe,
.markdown-body {
  width: 100%;
  height: 100%;
  max-height: 100%;
  border: none;
}

.markdown-body {
  overflow-y: scroll;
  padding: 70px;
}

.visible-false {
  display: none !important;
}

.color-ball {
  --ball-size: 25px;
  height: var(--ball-size);
  width: var(--ball-size);
  background-color: gray;
  border-radius: 50%;
  margin: 0 4px;
}

.color-ball:nth-child(1) {
  background-color: #f37725;
}

.color-ball:nth-child(2) {
  background-color: #3685c5;
}

.color-ball:nth-child(3) {
  background-color: #282725;
}

.color-ball:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.hi-img {
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
}
